<section><!-- class="d-flex justify-content-center" -->
  <div>
      <mat-toolbar color="primary">
          <mat-toolbar-row>
            <h3>Shopify</h3>
            <div class="spacer"></div>
           <!--  <label>{{currentPosition}}</label> -->
           <button mat-icon-button [disabled]="subscription"  class="subscribe-btn" (click)="subscribeToPushNotification()" >
            <mat-icon>subscriptions</mat-icon>
            </button>
           
            <mat-icon>shopping_cart</mat-icon>
          </mat-toolbar-row>
      </mat-toolbar>
  </div>
</section>
<router-outlet></router-outlet>
<mat-toolbar class="footer">
  <mat-toolbar-row class="d-flex justify-content-center">
      <p class="version-text">Version 2.0.1</p>
  </mat-toolbar-row>
</mat-toolbar>